{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-12">
            <h2>Meet Our Team</h2>
        </div>
        <div class="col-sm-4">
            <h2>Camila Andrea Lozano Valle</h2>
            <h5>vallec@utb.edu.co</h5>
            <p>Double Major student: electronic engineering and systems engineering with interest in Automated processes and enjoy her free time playing some games and doing puzzles.</p>
        </div>

        <div class="col-sm-4">
            <h2>Nicolás Molina Dïaz</h2>
            <h5>nmolina@utb.edu.co</h5>
            <p>Junior programmer and Systems Engineering student who enjoys writing songs, playing the piano, programming, video games, and watching football in his free time.</p>
        </div>

        <div class="col-sm-4">
            <img src="images/Miguel.jpg" class="logo-home">
            <h2>Miguel Angel Cuentas Barreto</h2>
            <h5>barretom@utb.edu.co</h5>
            <p>Double degree student in data science and systems engineering with an interest in data analysis.</p>
        </div>

        <div class="col-sm-4">
            <h2>Nestor Jose Doria Doria</h2>
            <h5>ndoria@utb.edu.co</h5>
            <p>Student of systems engineering and computing with interest in cybersecurity  who likes to build model kits.</p>
        </div>
    </div>
</div>
{% endblock %}