{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
    <h1>Harvest Information Form</h1>
    <p>Enter the crop information:</p>
    <br>
    <form action="/harvest_detail" method="post">
        <input type="hidden" id="op" name="op" value="I">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup_id">ID</span>
            <input type="number" class="form-control" name='id_harvest' aria-label="Sizing example input"
                   aria-describedby="inputGroup_id" placeholder={{id_harvest}} value={{id_harvest}} readonly>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup_cropType">Crop Type</span>
            <input type="text" class="form-control" name="crop_type" aria-label="Sizing example input"
                   aria-describedby="inputGroup_cropType">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup_date">Harvest Date</span>
            <input type="date" class="form-control" name="date" aria-label="Sizing example input"
                   aria-describedby="inputGroup_date">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup_weight">Weight (Kg)</span>
            <input type="number" class="form-control" name="weight" aria-label="Sizing example input"
                   aria-describedby="inputGroup_area" step="0.1">
        </div>

        <br>
        <input class="btn btn-primary" type="submit" name="form" value="Submit"/>
    </form>
</div>

{% endblock %}