{% extends "base.html" %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="tangerine-bold" style="font-size: 80px;">Welcome to Agriculture Company</h1>
            <img src="https://img.freepik.com/vector-premium/agricultura-logo-e-marca-simbolo-diseno-grafico-minimalista-logo_67323-367.jpg" class="logo-home">
            <p>Your Trusted Partner in Agriculture</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-12 text-center">
            <h2 class="tangerine-bold" style="font-size: 40px">Explore Our Services</h2>
            <p>Take a step towards improving your agricultural practices with our cultivation and inventory management solutions.</p>
            <a>Cultivation</a>
            <a>Inventory</a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-6">
            <h2>About Us</h2>
            <p>Discover our passion for agriculture and learn about our mission to revolutionize farming management.</p>
            <a href="/about_us" class="btn btn-primary gradient-custom-3">About Us</a>
        </div>
        <div class="col-lg-6">
            <h2>Contact Us</h2>
            <p>Have questions or need assistance? Feel free to get in touch with our team.</p>
            <a href="/contact" class="btn btn-primary gradient-custom-3">Contact Us!</a>
        </div>
    </div>
</div>
{% endblock %}