{% extends "base.html" %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="dancing-script-Tittle" style="font-size: 80px;">Welcome to Agriculture Company</h1>
            <img src="https://img.freepik.com/vector-premium/agricultura-logo-e-marca-simbolo-diseno-grafico-minimalista-logo_67323-367.jpg" class="logo-home">
            <p>Your Trusted Partner in Agriculture</p>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5 explore">
            <div class="col-lg-12 text-center">
                <h2 class="dancing-script-Tittle" style="font-size: 40px">Explore Our Services</h2>
                <p>Take a step towards improving your agricultural practices with our cultivation and inventory management solutions.</p>
            </div>
            <div class="col-lg-6 text-center">
                <img src="https://img.freepik.com/premium-photo/cultivation-land-garden-with-hand-tools-soil-loosening-gardening-concept-agriculture-plants-growing-bed-row_500858-1259.jpg" style="height: 200px; width: auto; margin:auto;">
                <br><br>
                <a href="/crop" class="btn btn-primary gradient-custom-3">Cultivation</a>
            </div>
            <div class="col-lg-6 text-center">
               <img src="https://media.istockphoto.com/id/1347030269/es/v%C3%ADdeo/agricultor-lleva-una-caja-de-verduras-frescas-camina-por-el-campo.jpg?s=640x640&k=20&c=HN9AJ0gUl0ZgsE2VXlal8yXhHKxlcjVGqW9GlX2_85M=" style="height: 200px; width: auto;; margin:auto;">
               <br><br>
               <a href="/silocreation" class="btn btn-primary gradient-custom-3" style="margin-bottom: 10px">Inventory</a>
            </div>

        </div>
    </div>


    <div class="row mt-5">
        <div class="col-lg-5 explore">
            <h2>About Us</h2>
            <p>Discover our passion for agriculture and learn about our mission to revolutionize farming management.</p>
            <a href="/about_us" class="btn btn-primary gradient-custom-3">About Us</a>
        </div>
        <div class="col-lg-5 explore" style="margin-left: auto;">
            <h2>Contact Us</h2>
            <p>Have questions or need assistance? Feel free to get in touch with our team.</p>
            <a href="/contact" class="btn btn-primary gradient-custom-3">Contact Us!</a>
        </div>
    </div>
</div>

{% endblock %}