{% extends "base.html" %}

{% block page_content %}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="display-4">Login</h1>
            <form method="POST">
                <div class="username">
                    <label>Nombre de usuario</label> <br>
                    <input type="text" required>
                </div>

                <div class="contrasena">
                    <meta charset="UTF-8" />
                    <label>Contraseña</label> <br>
                    <input type="password" required>
                </div>

                <div>
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>


</div>
{% endblock %}